body {
  font-family: 'Open Sans Condensed';
  padding: 20px 40px;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
@media only screen and (max-width: 992px) and (min-width: 768px){
body .menu-item {
  min-width: 46%;
}
}
@media only screen and (max-width: 767px) and (min-width: 240px){
  body .header .logo-container {
    padding: 15px 0px;
}
  body .header .options{
    width: 60%;
  }
  body .menu-item {
    min-width: 100%;
  }
  body .collection-page .items{
    display: block;
  }
  body .collection-item{
    width: 100%;
    display: block;
  }
  body .collections-overview .collection-preview .preview{
    width: 100%;
    display: block;
  }
  body .collections-overview .collection-preview .preview .collection-item{
    margin-bottom: 20px;
  }
  body .sign-in-and-sign-up,body .sign-in,body .sign-up,body .sign-in .buttons .custom-button {
    width: 300px;
    display: block;
  }
    body .sign-in .buttons{
    display: block;
  }
  
  body .sign-in .buttons .custom-button.google-sign-in{
    width: 300px;
    margin-top: 15px;
  }
}
